<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        <label for="id_genre">Genre:</label>
        <select name="genre" required id="id_genre">
            {% for genre in form.genre.field.queryset %}
                <option value="{{ genre.pk }}" selected >{{ genre.name }}</option>
            {% endfor %}
        </select>
    </p>
    <p>
        <label for="id_title">Title:</label>
        <input type="text" name="title" maxlength="30" required id="id_title">
    </p>
    <p>
        <label for="id_album_jacket">Album jacket:</label>
        <input type="file" name="album_jacket" accept="image/*" id="id_album_jacket">
    </p>
    <p>
        <label for="id_seed_file">Seed file:</label>
        <input type="file" name="seed_file" required id="id_seed_file">
    </p>
    <p>
        <label for="id_instrument">Instrument:</label>
        <select name="instrument" required id="id_instrument">
            {% for instrument in form.instrument.field.queryset %}
                <option value="{{ instrument.pk }}" selected>{{ instrument }}</option>
            {% endfor %}
        </select>
    </p>
    <button type="submit">만들기</button>
</form>


</body>
</html>