{% extends 'StackOfMusic/base.html' %}
<!doctype html>
<html lang="ko">
<head>
    {% block extra_scripts %}
        <script src="https://unpkg.com/siriwave/dist/siriwave.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $('#upload-btn').click(function () {
                    var form = $('#file-upload-form')[0];
                    var formData = new FormData(form);

                    console.log(formData);

                    $.ajax({
                        url: 'http://stackofmusic.s3.amazonaws.com/',
                        method: 'PUT',
                        contentType: false,
                        processData: false,
                        data: {
                            formData,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success : function (data) {
                            alert('data');
                        },
                        error: function (error) {
                            alert('error');
                        }
                    })
                })
            })
        </script>
    {% endblock %}
    {% block extra_style %}
        <style>

            .hide{
                display: none;
            }

            .time{
                text-align: right;
                position: absolute;
                top: 3px;
                right: 10px;
                left: 0;
                color: #335fb8;
                z-index: 2;
            }
            .audio-progress{
                height: 22px;
                position: relative;
                margin-top: 15px;
                background-color: #e5eff1;

            }
            #progress {
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                height: 100%;
                background-color: #006182;
                z-index: 1;
            }
            select {
                width: 200px;
                padding: .8em .5em;
                border: 1px solid #999;
                font-family: inherit;
                border-radius: 0px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }

        </style>
    {% endblock %}
</head>

{% block content %}
    <body style="background-color: black;">

    <script type="text/javascript">

        var working_music = {};
        $(function () {
            $.ajax({
                method: 'GET',
                url: '{% url 'create_music:working_music_detail_api' working_music_id %}',
                success: function (data) {
                    working_music = data;
                    console.log(working_music);
                    var titleContainer = document.getElementById("mytitle");
                    //var title = document.getElementById("mytitle2");
                    var ownerContainer = document.getElementById("myowner");
                    var dateContainer = document.getElementById("mydate");
                    var genreContainer = document.getElementById("mygenre");
                    var instrumentContainer = document.getElementById("ownerinstrument");
                    var ownername = document.getElementById("ownername");


                    instrumentContainer.append(working_music['instrument'].name);
                    //title.append(working_music['title']);
                    dateContainer.append(working_music['create_date']);
                    titleContainer.append(working_music['title']);
                    ownerContainer.append(working_music['owner'].username);
                    genreContainer.append(working_music['genre'].name);

                    $('#image').attr("src", working_music['album_jacket']);
                    $('#music_image').attr("src", working_music['album_jacket']);
                    $('#music').attr("src", working_music['seed_file']);

                    //$("#music2").attr("src", working_music['seed_file']);

                    ownername.append(working_music['owner'].username);
                    $("#ownermusic").attr("src", working_music['seed_file']);

                    for (var i = 0; i < working_music["sub_musics"].length; i++) {

                        if(working_music["sub_musics"][i].update_status == 2){
                            working_music["sub_musics"][i].convert_music_file = working_music["sub_musics"][i].convert_music_file.replace('static/', '');
                            var content = "<tr id=\"tr"+ i + "\"><td>" + working_music["sub_musics"][i].contributor.username +"</td>" +"<td>"+working_music["sub_musics"][i].instrument.name+"</td>"+"<td><audio id=\"submusic" + i + "\"src=\""+working_music["sub_musics"][i].convert_music_file +" \"controls>" + "<source id=\"sub"+i+ "\" src=\"" +  "\" type=\"audio/mp4\"/></audio></td>"+"<td><input type=\"checkbox\" id=\"" + "subcheck" + i +"\" style=\"float:left;\" >\n"
                        }
                        else{
                            var content = "<tr id=\"tr"+ i + "\"><td>" + working_music["sub_musics"][i].contributor.username +"</td>" +"<td>"+working_music["sub_musics"][i].instrument.name+"</td>"+"<td><audio id=\"submusic" + i + "\"src=\""+working_music["sub_musics"][i].music_file +" \"controls>" + "<source id=\"sub"+i+ "\" src=\"" +  "\" type=\"audio/mp4\"/></audio></td>"+"<td><input type=\"checkbox\" id=\"" + "subcheck" + i +"\" style=\"float:left;\" >\n"
                        }
                        if(working_music["sub_musics"][i].status == 1){
                            if(working_music["sub_musics"][i].update_status == 0) {
                                content = content + "<button class=\"update-btn btn btn-default\" data-pk = \" " + working_music['sub_musics'][i].id + "\">update</button>\n" +
                                    "<button class = \"delete-btn btn btn-default\" data-pk = \"" + working_music['sub_musics'][i].id + "\">delete</button>\n</td>";
                                content = content + "<td><button class = \"piano-btn btn btn-default\" data-pk = \"" + working_music['sub_musics'][i].id + "\">piano</button>\n" +
                                    "<button class = \"drum-btn btn btn-default\" data-pk = \"" + working_music['sub_musics'][i].id + "\">drum</button></td></tr>";
                            }
                            else{
                                content = content + "<button class=\"update-btn btn btn-default\"  data-pk = \" "+ working_music['sub_musics'][i].id +"\">update</button>\n" +
                                    "<button class = \"delete-btn btn btn-default\" data-pk = \""+ working_music['sub_musics'][i].id +"\">delete</button>\n</td>"
                            }
                        }
                        document.getElementById("musics").innerHTML += content;
                    }
                },
                error: function (error) {
                    alert(error + 'data를 불러올수없습니다.');
                },
                xhrFields: {withCredentials: true,}
            })
        });
        function play() {
            var origin =document.getElementById("ownercheck");
            var submusics = new Array(20);

            var sink100 = $('#sink100').val();

            for (var i = 0; i < working_music["sub_musics"].length; i++) {
                submusics[i] = document.getElementById("subcheck"+i);
                if($(submusics[i]).prop("checked")==true){
                    var first = $("#submusic"+i).attr('src');
                    var audio = new Audio(first);
                    var x = document.getElementById("submusic"+i).duration;
                    var timeout = x - (x%5);
                    audio.play();
                    setInterval(function(){
                        audio.currentTime=0;
                        audio.play(); }, timeout*1000);
                }
            }
            if($(origin).prop("checked")==true){
                var ori = $('#ownermusic').attr('src');
                var audio = new Audio(ori);
                var x = document.getElementById("ownermusic").duration;
                var timeout = x - (x%5);
                audio.play();
                setInterval(function(){
                    audio.currentTime=0;
                    audio.play(); }, timeout*1000);
            }
            var secondmusic = document.getElementById("check2");

            if($(secondmusic).prop("checked")==true) {
                var second = $("#music3").attr('src');
                var audio = new Audio(second);
                var x = document.getElementById("music3").duration;
                var timeout = x - (x%5);

                setTimeout(function(){
                    audio.play();
                    setInterval(function(){
                        audio.currentTime=0;
                        audio.play(); }, timeout*1000);
                }, sink100*1000);
            }

        }

        $(function () {
            $('#working_music_img').attr("src", working_music['album_jacket']);
        });

    </script>
    <style>


        .hide{
            display: none;
        }

        .time{
            text-align: right;
            position: absolute;
            top: 3px;
            right: 10px;
            left: 0;
            color: #335fb8;
            z-index: 2;
        }
        .audio-progress{
            height: 22px;
            position: relative;
            margin-top: 15px;
            background-color: #e5eff1;

        }
        #progress {
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: #006182;
            z-index: 1;
        }


    </style>

    <script>
        var utils = {
            formatTime: function (secs) {
                var minutes = Math.floor(secs / 60) || 0;
                var seconds = (secs - minutes * 60) || 0;
                return minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
            },
            updateTimeTracker: function () {
                var self = this;
                var seek = sound.seek() || 0;
                var currentTime = utils.formatTime(Math.round(seek));
                console.log(currentTime);
                $('#timer').text(currentTime);
                console.log(seek);
                console.log(self.duration);
                var elem = document.getElementById('progress');
                elem.style.width = (((seek / self.duration()) * 100) || 0) + '%';
                if (self.playing()) {
                    requestAnimationFrame(utils.updateTimeTracker.bind(self));
                }
            }
        };
        function cutcut() {
            var start = $('#start').val();
            var end = $('#end').val();
            sound._sprite.mysprite = [start,end];
            sound.play('mysprite');
        }
        function gogo() {
            $('#sound').toggleClass('playing');

            if($('#sound').hasClass('playing')){
                sound.play();
            } else {
                sound.pause();
            }
        }
    </script>
    <form method="post" id="music_file_upload_form" action="{% url 'create_music:music_update' working_music_id %}" enctype="multipart/form-data">

    </form>
    <img id="working_music_img" src="" alt="">

    <div class="container" style="background-color: whitesmoke;border-radius: 20px;margin-bottom: 30px;">
        <div class="row well">
            <div class="col-md-12">
                <div class="panel">
                    <br>
                    <img id="music_image" src="" alt="" style="height:250px;width: 250px;float: left">
                    <button class="btn btn-lg black" onclick="location.href='{% url 'create_music:loopstaion'  working_music_id %}'" style="width: 200px;font-size:20px;color:whitesmoke;float: right;background: linear-gradient(to right, purple, red);">LoopStation!!</button>

                    <div class="row user-left-part">
                        <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section" style="height: 300px;">
                            <div class="row profile-right-section-row">
                                <div class="col-md-12 profile-header">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                                            <h1><div id="mytitle" style="float: left;"></div></h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade show active" id="profile">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label>genre</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <h4><div id="mygenre" style="float: left;margin-left: 20px;"></div></h4>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label>Owner</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <h4><div id="myowner" style="float: left;margin-left: 20px;"></div></h4>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label>발매날짜</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div id="mydate" style="float: left;margin-left: 20px;"></div>
                                                        </div>
                                                    </div>
                                                    <audio id="music" controls style="margin-top:20px;margin-left: 10px;">
                                                        <source id="audio-source" src="" type="audio/mp4"/>
                                                    </audio>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <button class="btn btn-lg black" onclick="location.href='{% url 'create_music:working_music_delete'  working_music_id %}'" style="width: 200px;font-size:20px;float: right;background-color: whitesmoke">작업중인 음악삭제</button>
                <button class="btn btn-lg black" onclick="location.href='{% url 'create_music:sub_music_create'  working_music_id %}'" style="width: 200px;font-size:20px;float: right;background-color: whitesmoke">SubMusic 업로드</button>

                <div class="container">
                    <table class="table table-striped custab" style="text-align: center">
                        <thead>
                        <tr>
                            <th>Owner</th>
                            <th>Instrument</th>
                            <th>Sub_Musics</th>
                            <th>Select</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody id="musics">
                        <tr>
                            <td>
                                <div id="ownername"></div>
                            </td>
                            <td>
                                <div id="ownerinstrument" style=""></div>
                            </td>
                            <td>
                                <audio id="ownermusic" controls>
                                    <source id="audio-source" src="" type="audio/mp4"/>
                                </audio>
                            </td>
                            <td>
                                <input type="checkbox" id="ownercheck" style="float: left;">
                            </td>
                            <td>
                            </td>
                        </tr>
                        </tbody>

                    </table>

                </div>
                <script>
                    var token = '{{ csrf_token }}';

                    $(function () {
                        $('body').on('click', '.update-btn', function () {
                            var data_pk = $(this).attr('data-pk');
                            $.ajax({
                                headers: { 'X-CSRFToken' : token },
                                url: '{% url 'create_music:music_update' working_music_id %}',
                                method: 'post',
                                data: {
                                    data: data_pk,
                                },
                                success(data){
                                    alert(data['message']);
                                    window.location.reload();
                                }
                            })
                        });
                    });

                    $(function () {
                        $('body').on('click', '.delete-btn', function () {
                            var data_pk = $(this).attr('data-pk');
                            $.ajax({
                                headers: {'X-CSRFToken' : token},
                                url: '{% url 'create_music:submusic_delete' working_music_id %}',
                                method: 'post',
                                data: {
                                    data: data_pk,
                                },
                                success(data){
                                    alert(data['message']);
                                    window.location.reload();
                                }
                            })
                        });
                    });

                    $(function() {
                        $('body').on('click', '.piano-btn', function () {
                            var data_pk = $(this).attr('data-pk');
                            $.ajax({
                                headers: {'X-CSRFToken': token},
                                url: '{% url 'create_music:voice_to_piano' working_music_id %}',
                                method: 'post',
                                data: {
                                    data: data_pk
                                },
                                success: function () {
                                    setInterval(function () {
                                        $.ajax({
                                            headers: {'X-CSRFToken': token},
                                            method: 'post',
                                            url: '{% url 'create_music:convert_check_status' working_music_id %}',
                                            data: {
                                                data: data_pk
                                            },
                                            success: function (data) {
                                                pk = data['message'];
                                                alert(pk);
                                                if(1 == pk){
                                                    alert('변환중');
                                                } else if(2 == pk){
                                                    alert('변환 되었습니다!');
                                                    console.log(pk);
                                                    window.location.reload();

                                                }
                                            },
                                            error: function (error_data) {

                                            }
                                        });
                                    }, 1000);
                                }
                            })
                        });
                    });
                    $(function () {
                        $('body').on('click', '.drum-btn', function(){
                            var data_pk = $(this).attr('data-pk');
                            $.ajax({
                                headers: {'X-CSRFToken': token},
                                url: '{% url 'create_music:voice_to_drum' working_music_id %}',
                                method: 'post',
                                data: {
                                    data: data_pk,
                                },
                                success: function (data) {
                                    setInterval(function () {
                                        $.ajax({
                                            headers: {'X-CSRFToken': token},
                                            method: 'post',
                                            url: '{% url 'create_music:convert_check_status' working_music_id %}',
                                            data: {
                                                data: data_pk
                                            },
                                            success: function (data) {
                                                pk = data['message'];
                                                alert(pk);
                                                if(1 == pk){
                                                    alert('변환중');
                                                } else if(2 == pk){
                                                    alert('변환 되었습니다!');
                                                    console.log(pk);
                                                    window.location.reload();

                                                }
                                            },
                                            error: function (error_data) {

                                            }
                                        });
                                    }, 1000);
                                }
                            })
                        })
                    });
                </script>
                <div>
                    <div style="text-align: center;font-family: 'Lucida Grande', Arial;margin-bottom: 20px;margin-top: 20px;font-size: 30px;background-color: whitesmoke"> Try Your Music with SUB Musics</div>
                    <button type="button" onclick="play()" class="btn-dark" style="width: 100px;height: 50px;float: right">Play</button>

                    <p>
                        <audio id="music3" controls style="float: left;margin-left: 250px;">
                            <source id="audio-source" src="" type="audio/mp4"/>
                        </audio>
                    </p>&emsp;
                    <input id="audioFileChooser" type="file" style="width: 250px;" onchange="readFile(this.files);">
                    <input type="checkbox" id="check2" class="hidden" style="float: left;" >
                    <input type="text" id="sink100" style="width: 100px;float: left" name="test_name" value="">

                    <br><br><br>
                </div>
                <div style="float: left; width: 100%;margin-left: 250px;">
                    <br>
{#                    <form method="post" action="{% url 'create_music:music_status_change' working_music_id %}">#}
{#                        {% csrf_token %}#}
{#                        <th><label for="id_music_option">Music option:</label></th><td>#}
{#                        <select name="music_option" required id="id_music_option">#}
{#                            <option value="" selected>select</option>#}
{#                            <option value="0">완성</option>#}
{#                            <option value="1">미완성</option>#}
{#                        </select></td><br><br>#}
{#                        <button class="btn btn-lg btn-default" type="submit" style="width: 500px;height:50px;font-size:20px;margin-left: 50px;background-color: gray;border-radius: 30px;">Complete Music</button>#}
{#                    </form>#}

                    <button onclick="location.href='{% url 'create_music:complete_music' working_music_id %}'" style="width: 500px;height:50px;font-size:20px;margin-left: 50px;background-color: gray;border-radius: 30px;">Complete Music</button>

                    <br><br>
                </div>
            </div>
        </div>
    </div>

    <script>
        function readFile(files) {
            var fileReader = new FileReader();
            var url = fileReader.readAsDataURL(files[0]);
            var blobUrl = URL.createObjectURL(files[0]);
            fileReader.onload = function(e) {
                playAudioFile(blobUrl);
                console.log(("Filename: '" + files[0].name + "'"), ( "(" + ((Math.floor(files[0].size/1024/1024*100))/100) + " MB)" ));
            }
        }
        function playAudioFile(file) {
            $("#music3").attr("src", file);
            var context = new window.AudioContext();
            context.decodeAudioData(file, function(buffer) {
                var source = context.createBufferSource();
                source.buffer = buffer;
                source.loop = false;
                source.connect(context.destination);
                source.start(0);
            });
        }
    </script>

{% endblock %}

</body>
</html>