{% extends 'StackOfMusic/base.html' %}
<!doctype html>
<html lang="ko">
<head>
    {% load static %}

    {% block extra_scripts %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% endblock %}
</head>
<body>
{% block content %}

    <a href="{% url 'create_music:working_music_delete' working_music_id %}">지워버리기~</a>

    <script type="text/javascript">

        $(function () {
            var working_music = {};

            $.ajax({
                method : 'GET',
                url : 'http://localhost:8000/list/WorkingMusicRetrieveAPI/{{ working_music_id }}',
                success: function (data) {
                    working_music = data;
                    console.log(working_music);
                },
                error: function (error) {
                    alert(error + "data를 load할수없습니다.");
                },
                xhrFields: {withCredentials: true,}
            });
        })

    </script>


{% endblock %}
</body>
</html>