<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마이페이</title>
</head>
<body>
{{ user.username }}
<br>
{{ user.first_name }}
<br>
{% if user.sex == 0 %}
    남성
{% else %}
    여성
{% endif %}
<br>
{% for user_music in user_music_list %}
    {{ user_music.title }}
{% endfor %}

<li><a href="{% url 'accounts:accounts_copyright' user.id %}">COPYRIGHT</a></li>
<li><a href="{% url 'accounts:accounts_working_projects' user.id %}">MY WORKING PROJECTS</a></li>

</body>
</html>