{% extends 'StackOfMusic/base.html' %}

{% block content %}
    <section style="background-color: black;height: 620px">
        <center>
            <br>
            <button class="btn btn-lg btn-default" onclick="location.href='{% url 'accounts:accounts_copyright' account_id %}'" style="width: 1000px;font-size:70px;background-color: #2e353d;color: whitesmoke">Copyright</button>
            <br>
            <br>
            <button class="btn btn-lg btn-default" onclick="location.href='{% url 'accounts:accounts_working_projects' account_id %}'" style="width: 1000px;font-size:70px;background-color: #2e353d;color: whitesmoke">My Working Projects</button>
            <br>
            <br>
            <button class="btn btn-lg btn-default" onclick="location.href='{% url 'accounts:accounts_detail' account_id %}'" style="width: 1000px;font-size:70px;background-color: #2e353d;color: whitesmoke">My Info</button>
            <br>
            <br>
            <button class="btn btn-lg btn-default" onclick="location.href='{% url 'accounts:user_liked_music' account_id %}'" style="width: 1000px;font-size:70px;background-color: #2e353d;color: whitesmoke">Liked Music</button>

        </center>
    </section>
    {#    <a href="{% url 'accounts:accounts_copyright' account_id %}">copyright</a>#}
    {#    <br>#}
    {#    <a href="{% url 'accounts:accounts_working_projects' account_id %}">MyWorkingProjects</a>#}
    {#    <br>#}
    {#    <a href="{% url 'accounts:accounts_detail' account_id %}">My info</a>#}
    {#    <br>#}
    {#    <a href="#"></a>#}
{% endblock %}