{% load staticfiles %}

<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}StackOfMusic{% endblock %}</title>
    {% block extra_style %}{% endblock %}
    {% block extra_scripts %}{% endblock %}

    <!-- Bootstrap core CSS -->
    <link href="{% static "StackOfMusic/vendor/bootstrap/css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "StackOfMusic/css/business-casual.css" %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .my-transparent-button {
            background-color: transparent !important;
            background-image: none !important;
            border-color: transparent;
            border: none;

            color: #FFFFFF;
        }
    </style>

</head>
<body>



<section style="background-image: url({% static 'img/mu.jpg' %}); background-position: center; background-size: 1700px" >

    <nav class="navbar navbar-expand navbar-primary navbar-dark">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}

                <a href="{% url 'accounts:accounts_detail' user.id %}"><img src="{% static 'img/login.png' %}" style="width: 40px;height: 40px;margin-left: 1670px;"></a>
                <br>
                <a href="{% url 'accounts:accounts_logout' %}"><img src="{% static 'img/logout.png' %}" style="width: 40px;height: 40px;margin-left: 20px;"></a>
                <br>
                <a href="{% url 'create_music:working_music_list' %}"><img src="{% static 'img/play-button.png' %}" style="width: 40px;height: 40px;margin-left: 15px;"></a>
                <br>
                {% comment %}
                {% for completed_music in completed_music_list %}
                    <li><a href="{% url 'completed_music_detail' completed_music.id %}">{{ completed_music.title }}</a>
                    </li>

                {% endfor %}
                {% endcomment%}

                </ul>
                </nav>

                <h1 class="site-heading text-center text-white d-none d-lg-block">
                    {#    <span class="site-heading-upper">A Free Bootstrap 4 Business Theme</span>#}
                    <span class="site-heading-lower  mb-3" style="color: white; border-color: #fbfbff;text-shadow: -10px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"><b><b>Stack Of Music</b></b></span>
                </h1>
                <section>
                    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" style="background-color: white" id="mainNav">
                        <div class="container">
                            <div class="collapse navbar-collapse" id="navbarResponsive">
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item active px-lg-4">
                                        <a class="nav-link text-uppercase text-expanded" style="color: #dc3545;font-size: 20px;" href={% url 'home' %}><b>Home</b>
                                            <span class="sr-only">(current)</span>
                                        </a>
                                    </li>
                                    <li class="nav-item px-lg-4">
                                        <a class="nav-link text-uppercase text-expanded" style="color: #dc3545;font-size: 20px;"
                                           href="{% url 'create_music:working_music_list' %}"><b>Music</b></a>
                                    </li>
                                    <li class="nav-item px-lg-4">
                                        <a class="nav-link text-uppercase text-expanded" style="color: #dc3545;font-size: 20px;" href="#"><b>Instrument</b></a>
                                    </li>
                                    <li class="nav-item px-lg-4">
                                        <a class="nav-link text-uppercase text-expanded" style="color: #dc3545;font-size: 20px;" href="{% url 'accounts:accounts_detail' user.id %}"><b>Mypage</b></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </section>

                </section>
            {% else %}
                {#                <li class="nav-item d-none d-sm-inline-block" style="margin-left: 1600px;">#}
                {#                    <button type="button" onclick="location.href='{% url 'accounts:accounts_create' %}'"#}
                {#                            class="btn btn-block btn-success" style="width:100px;">SignUp#}
                {#                    </button>#}
                {#                </li>#}
                {#                <li class="nav-item d-none d-sm-inline-block">#}
                {#                    <button type="button" onclick="location.href='{% url 'accounts:accounts_login' %}'"#}
                {#                            class="btn btn-block btn-info" style="width:100px;">SignIn#}
                {#                    </button>#}
                {#                </li>#}

                <a href="{% url 'accounts:accounts_login' %}"><img src="{% static 'img/login.png' %}" style="width: 40px;height: 40px;margin-left: 1670px;"></a>
                <br>
                <a href="{% url 'accounts:accounts_logout' %}"><img src="{% static 'img/logout.png' %}" style="width: 40px;height: 40px;margin-left: 20px;"></a>
                <br>
                <a href="{% url 'create_music:working_music_list' %}"><img src="{% static 'img/play-button.png' %}" style="width: 40px;height: 40px;margin-left: 15px;"></a>
                <br>

                <h1 class="site-heading text-center text-white d-none d-lg-block">
                    {#    <span class="site-heading-upper">A Free Bootstrap 4 Business Theme</span>#}
                    <span class="site-heading-lower  mb-3" style="color: white; border-color: #fbfbff;text-shadow: -10px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"><b><b>Stack Of Music</b></b></span>
                </h1>
                <section>
                    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" style="background-color: white" id="mainNav">
                        <div class="container">
                            <div class="collapse navbar-collapse" id="navbarResponsive">
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item active px-lg-4">
                                        <a class="nav-link text-uppercase text-expanded" style="color: #dc3545;font-size: 20px;" href={% url 'home' %}><b>Home</b>
                                            <span class="sr-only">(current)</span>
                                        </a>
                                    </li>
                                    <li class="nav-item px-lg-4">
                                        <a class="nav-link text-uppercase text-expanded" style="color: #dc3545;font-size: 20px;"
                                           href="{% url 'create_music:working_music_list' %}"><b>Music</b></a>
                                    </li>
                                    <li class="nav-item px-lg-4">
                                        <a class="nav-link text-uppercase text-expanded" style="color: #dc3545;font-size: 20px;" href="#"><b>Instrument</b></a>
                                    </li>
                                    <li class="nav-item px-lg-4">
                                        <a class="nav-link text-uppercase text-expanded" style="color: #dc3545;font-size: 20px;" href="{% url 'accounts:accounts_login'%}"><b>Mypage</b></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </section>
                </ul>
                </nav>

                </section>
            {% endif %}


{% block content %}

{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>



<!-- Bootstrap core JavaScript -->
<script src="{% static "StackOfMusic/vendor/jquery/jquery.js" %}"></script>
<script src="{% static "StackOfMusic/vendor/bootstrap/js/bootstrap.bundle.js" %}"></script>

</body>
</html>