{% extends 'StackOfMusic/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>SOM</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "StackOfMusic/vendor/bootstrap/css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "StackOfMusic/css/business-casual.css" %}" rel="stylesheet">


    <style>
        section {
            width: 100%;

        }
        section.left {
            width: 20%;
            overflow: hidden;
            float: left;
            background-color: black;
            box-sizing: border-box;
        }
        section.right {
            width: 20%;
            float: right;
            box-sizing: border-box;
            background-color: #39ace7;
        }
    </style>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>


<body>
{% block content %}
    <section style="    background-color: black;height: 800px;">
<br>
        <div class="container" style="margin-left: 350px;">
            <div class="card" style="width:200px;background-color: white;border: none;display: inline">
                <p style=" color: #f2f2f2; background: #ff4a4a; font-size: 20px; line-height: 20px; font-weight: 700; margin: 0 5px 24px; float: left; padding: 10px; margin: 0 5px 24px; font-family: 'Libre Baskerville', serif;">Today's Musics</p>
                <br><br><br>

                {% for completed_music in completed_music_list %}
                    <button class="my-transparent-button" onclick="location.href='{% url 'completed_music_detail' completed_music.id %}'" style="float: left;">
                        <img class="card-img-top" id="{{ completed_music.title }}" src="{{ completed_music.album_jacket.url }}" alt="Card image" style="width:200px;height: 200px;">
                        <a href="{% url 'completed_music_detail' completed_music.id %}">
                            <div class="card-body">
                                <h6 class="card-title" style="color: white">{{ completed_music.title }}</h6>
                            </div>
                        </a>
                    </button>
                {% endfor %}
            </div>
            <br><br><br><br>
            <div style="height: 200px;"></div>
            <div class="card" style="width:200px;background-color: white;border: none;text-align: left;display: inline">
                <p style=" color: #f2f2f2; background: #ff4a4a; font-size: 20px; line-height: 20px; font-weight: 700; margin: 0 5px 24px; float: left; padding: 10px; margin: 0 5px 24px; font-family: 'Libre Baskerville', serif;">HOT Musics</p>
                <br><br><br>
                {% for hot_music in hot_music_list %}
                    <button class="my-transparent-button" onclick="location.href='{% url 'completed_music_detail' hot_music.id %}'" style="float: left">
                        <img class="card-img-top" id="{{ hot_music.title }}" src="{{ hot_music.album_jacket.url }}" alt="Card image" style="width:200px;height: 200px;">
                        <a href="{% url 'completed_music_detail' hot_music.id %}">
                            <div class="card-body">
                                <h6 class="card-title" style="color: white">{{ hot_music.title }}</h6>
                            </div>
                        </a>
                    </button>
                {% endfor %}

        </div>

    </section>

    <section style="background-color: black;height: 600px;">

        <div id="demo" class="carousel slide" data-ride="carousel" style="">
            <ol class="carousel-indicators">
                <li data-target="#carousel-with-lb" data-slide-to="0" class="active secondary-color"></li>
                <li data-target="#carousel-with-lb" data-slide-to="1" class="secondary-color"></li>
                <li data-target="#carousel-with-lb" data-slide-to="2" class="secondary-color"></li>
            </ol>
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <center>
                        <img src="../../static/img/artist8.png"
                             alt="Los Angeles" width="1100" height="500">
                    </center>
                    <div class="carousel-caption">
                        <h3>Did It Again</h3>
                        <p>We had such a great time</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <center>
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(4).jpg" alt="Chicago"
                             width="1100" height="500">
                    </center>
                    <div class="carousel-caption">
                        <h3>Chicago</h3>
                        <p>Thank you, Chicago!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <center>
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(4).jpg" alt="New York"
                             width="1100" height="500">
                    </center>
                    <div class="carousel-caption">
                        <h3>New York</h3>
                        <p>We love the Big Apple!</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

    </section>


    {#{% include '../templates/StackOfMusic/footer.html' %}#}

{% endblock %}
</body>

</html>
