{% extends 'StackOfMusic/base.html' %}
{% load staticfiles %}
<!doctype html>
<html lang="ko">
<head>
    {% block extra_scripts %}
        <script src="https://unpkg.com/wavesurfer.js"></script>
        <section class="links">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.1.10/wavesurfer.min.js"></script>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
    {% endblock %}
    {% block extra_style %}
        <style>
            .pagination {
                display: inline-block;
            }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
            }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
            }

            .pagination a:hover:not(.active) {background-color: #ddd;}
            rcorners1 {
                border-radius: 25px;
                background: #73AD21;
                padding: 20px;
                width: 200px;
                height: 150px;
            }

            .post-comments {
                padding-bottom: 9px;
                margin: 5px 0 5px;
            }

            .comments-nav {
                border-bottom: 1px solid #eee;
                margin-bottom: 5px;
            }

            .post-comments .comment-meta {
                border-bottom: 1px solid #eee;
                margin-bottom: 5px;
            }

            .post-comments .media {
                border-left: 1px dotted #000;
                border-bottom: 1px dotted #000;
                margin-bottom: 5px;
                padding-left: 10px;
            }

            .post-comments .media-heading {
                font-size: 12px;
                color: grey;
            }

            .post-comments .comment-meta a {
                font-size: 12px;
                color: grey;
                font-weight: bolder;
                margin-right: 5px;
            }

        </style>
    {% endblock %}
</head>
{% block content %}
    <body style="background-color: black;height: 1100px;">

    <script type="text/javascript">
        var content2 = '';
        var content = ''
        var completd_music = {};
        var wave = WaveSurfer;
        $(function () {
            $.ajax({
                method: 'GET',
                url: '{% url 'completed_music_detail_api' completed_music_id %}',
                success: function (data) {
                    completd_music = data;
                    ex = completd_music['owner'].username;
                    console.log(completd_music);
                    var titleContainer = document.getElementById("mytitle");
                    var ownerContainer = document.getElementById("myowner");
                    var dateContainer = document.getElementById("mydate");
                    var genreContainer = document.getElementById("mygenre");
                    var total_like = document.getElementById("total_likes");

                    dateContainer.append(completd_music['create_date']);
                    titleContainer.append(completd_music['title']);
                    ownerContainer.append(completd_music['owner'].username);
                    genreContainer.append(completd_music['genre'].name);
                    total_like.append(completd_music['total_like_user']+"people like");

                    $('#total_likes').attr("value",)
                    if(completd_music["completed_music"]){
                        completd_music["completed_music"] = completd_music["completed_music"].replace('static/', '');
                    }



                    $('#music_image').attr("src", completd_music['album_jacket']);
                    $('#music').attr("src", completd_music['completed_music']);
                    var origin_content = '<div class="container" >\n' +
                        '            <table class="table table-striped custab" style="background-color: whitesmoke;margin-left: 30px;width:650px;table-layout:fixed;border-radius: 5px;">\n' +
                        '                <thead>\n' +
                        '                <tr>\n' +
                        '                    <th>Username</th>\n' +
                        '                    <th>Comments</th>\n' +
                        '                </tr>\n' +
                        '                </thead>';
                    content = origin_content ;
                    content2 = origin_content;
                    for (var i = 0; i < completd_music["comment"].length; i++) {
                        if(i<5){
                            content += "<tr><td style=\"width: 50px; height: auto; word-break:break-all;table-layout:fixed;\" >"+ completd_music.comment[i].user.username+ "</td><td style=\"width: 500px; height: auto; word-break:break-all;table-layout:fixed;\">" +completd_music.comment[i].comment_text + "</td></tr>"
                        }
                        else{
                            content2 = origin_content += "<tr><td style=\"width: 50px; height: auto; word-break:break-all;table-layout:fixed;\" >!!"+ completd_music.comment[i].user.username+ "</td><td style=\"width: 500px; height: auto; word-break:break-all;table-layout:fixed;display=none;\">" +completd_music.comment[i].comment_text + "</td></tr>"

                        }

                    }
                    content +='            </table>\n' +
                        '        </div>'
                    content2 +='            </table>\n' +
                        '        </div>'
                    console.log(content);
                    document.getElementById('comments').innerHTML += content;


                },
                error: function (error) {
                    console.log(error + 'data를 불러올수없습니다.');
                },
                xhrFields: {withCredentials: true,}
            })

        });
        function second2(obj){
            document.getElementById('comments').style.display="none";
            document.getElementById('comments2').style.display = "block";
            document.getElementById('comments2').innerHTML = content2;
            $(obj).addClass("active");
            $('#page1').removeClass("active");
            $('#page3').removeClass("active");
            $('#page4').removeClass("active");
            $('#page5').removeClass("active");

        }
        function first1(obj){
            document.getElementById('comments').style.display="block";
            document.getElementById('comments2').style.display = "none";
            document.getElementById('comments2').innerHTML = content;
            $(obj).addClass("active");
            $('#page2').removeClass("active");
            $('#page3').removeClass("active");
            $('#page4').removeClass("active");
            $('#page5').removeClass("active");

        }

        $(function () {
            $('#completed_music_img').attr("src", completd_music['album_jacket']);
        });
    </script>
    <img id="completed_music_img" src="" alt="">
    <div class="container" style="background-color: whitesmoke;height: 80%;border-radius: 20px;">
        <br>
        <div class="row well">
            <div class="col-md-12">
                <div class="panel">
                    <img id="music_image" src="" alt="" style="height:250px;width: 250px;float: left">
                    <div class="row user-left-part">
                        <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section" style="height: 500px;">
                            <div class="row profile-right-section-row">
                                <div class="col-md-12 profile-header">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                                            <h1><div id="mytitle" style="float: left;color: black"></div></h1>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade show active" id="profile">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label style="color: black">genre</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <h4><div id="mygenre" style="float: left;margin-left: 20px;color: black"></div></h4>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label style="color: black">Owner</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <h4><div id="myowner" style="float: left;margin-left: 20px;color: black"></div></h4>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label style="color: black">발매날짜</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div id="mydate" style="float: left;margin-left: 20px;color: black"></div>
                                                        </div>
                                                    </div>
                                                    <audio id="music" controls style="margin-top:20px;margin-left: 10px;">
                                                        <source id="audio-source" src="" type="audio/mp4"/>
                                                    </audio>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div style="float: right;">
                                        <div id="total_likes" style="color: black;float: right;width: 100px;"></div><br>
                                        <button type="button" onclick="music_like();" style="border: none;border-radius: 10px;" ><img src="{% static 'img/like.png' %}" style="width: 30px;height: 30px;float: right;" alt=""> </button>

                                        <div id="like-count" style="color: black;float: right;" ></div>
                                    </div>
                                </div>
                                <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                                <script type="text/javascript">
                                    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                                    function csrfSafeMethod(method) {
                                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                                    }
                                    $.ajaxSetup({
                                        beforeSend: function (xhr, settings) {
                                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                            }
                                        }
                                    });
                                    function music_like() {
                                        $.ajax({
                                            url: "{% url 'like_music_update' completed_music_id%}",
                                            type: "post",
                                        }).done(function (data) {
                                            console.log(data);

                                            if($('#like-count').hasClass("like")){
                                                $('#like-count').removeClass("like");
                                                document.getElementById('like-count').innerHTML = '취소..';
                                                var replace_total_likes = document.getElementById('total_likes');
                                                $('#total_likes').html("");
                                                replace_total_likes.append(data['total_music_like'] + 'people like');
                                            }
                                            else{
                                                $('#like-count').addClass("like");
                                                document.getElementById('like-count').innerHTML = '좋아요!';
                                                var replace_total_likes = document.getElementById('total_likes');
                                                $('#total_likes').html("");
                                                replace_total_likes.append(data['total_music_like'] + 'people like');

                                            }
                                            var count = $('#like-count').attr("value", data['total_music_like']);
                                        });
                                    }
                                </script>


                                <div class="container">
                                    <div class="post-comments">
                                        <br>
                                        <div id="comments" style="margin-left: -50px;height: 300px;">

                                        </div>
                                        <div id="comments2" style="margin-left: -50px;height: 300px;display: none;">

                                        </div>
                                        <div id="comments3" style="margin-left: -50px;height: 300px;display: none;">

                                        </div>
                                        <center>
                                            <div class="pagination" style="margin-left: 130px;">
                                                <a href="#">&laquo;</a>
                                                <a id="page1" class="active" onclick="first1(this)" href="javascript:void(0);">1</a>
                                                <a id="page2" href="javascript:void(0);" onclick="second2(this)">2</a>
                                                <a id="page3" href="javascript:void(0);">3</a>
                                                <a id="page4" href="javascript:void(0);">4</a>
                                                <a id="page5" href="javascript:void(0);">5</a>
                                                <a href="#">6</a>
                                                <a href="#">&raquo;</a>
                                            </div>
                                        </center>
                                        <form action="{% url 'create_comment' completed_music_id %}" method="post">
                                            {% csrf_token %}
                                            <div>
                                                <tr><th><label for="id_comment_text">Comment text:</label></th>
                                                    <td><textarea style="float: right" name="comment_text" cols="55" rows="2" required id="id_comment_text"></textarea></td></tr>
                                                </tbody>
                                            </div><br>
                                            <button type="submit" class="btn btn-default" style="color: black;float: right">Send</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
</body>
</html>